/*==========================
Header
==========================*/

@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.header__top {
  position: relative;
  padding-top: 14px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  @include box-shadow($shadow-logo);
  z-index: 2;

  @include respond-to(desktop) {
    padding-top: 30px;
    padding-bottom: 31px;
  }
}

.header__logo {
  padding: 0 18px;
  font-family: $font-stack-secondary;
  font-size: 1.765rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;

  @include respond-to(desktop) {
    font-size: 2rem;
  }
}

.header__location {
  position: relative;
  width: 100%;
  padding: 15.5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: $bg-gray;
  @include box-shadow($shadow-location);
  z-index: 1;

  & button {
    cursor: pointer;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;

    & i {
      color: $black-light;
    }
  }

  & input {
    border: none;
    background: none;
    width: 109px;
    padding: 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    color: $black-light;

    &::placeholder {
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      color: $black-light;
    }

    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      appearance: none;
    }

    &:focus {
      outline: none;
    }
  }
}
