/*==========================
Hero
==========================*/

@use "../utils/variables" as *;
@use "../utils/mixins" as *;

.hero {
  padding-top: 39px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-light-gray;

  @include respond-to(desktop) {
    padding-top: 32px;
    padding-bottom: 30px;
  }
}

.hero__title {
  width: 73.33%;
  text-align: center;
  font-size: 1.411rem;
  font-weight: 700;
  line-height: 1.1;
  color: $black;

  @include respond-to(desktop) {
    font-size: 2.352rem;
  }
}

.hero__description {
  width: 84%;
  margin-top: 17px;
  text-align: center;
  font-size: 1.058rem;
  font-weight: 300;
  line-height: 1.25;
  color: $black-light;

  @include respond-to(desktop) {
    margin-top: 33px;
  }
}

.hero__btn {
  cursor: pointer;
  margin-top: 27px;
  padding: 14px 21px;
  font-size: 0.941rem;
  font-weight: 400;
  line-height: 1.45;
  color: $white;
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background-size: 200% 200%;
  border-radius: 25px;
  @include box-shadow($shadow-hero-btn);
  transition: all 0.3s ease-in-out;

  &:hover {
    transform: scale(1.05);
    @include box-shadow($shadow-hero-btn--hover);
    background-position: 100% 0;
  }
}
