/*==========================
Loader
==========================*/

@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/keyframes" as *;

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#fff, 0.8);
  @include flex-center;
  z-index: 9999;
  animation: loader-fade 3s forwards;
}

.loader-container i {
  position: absolute;
  padding-top: 12px;
  color: $purple;
  animation: loader-jump 1s ease-in-out infinite 0.4s;
}

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid $purple;
  border-radius: 50%;
  animation: loader-spin 1s linear infinite;
}
