/*==========================
Restaurants
==========================*/

@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/button" as *;
@use "../components/card" as *;

.restaurants {
  padding-top: 54px;
  padding-left: 5.33%;
  padding-right: 5.33%;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $bg-light-gray;

  @include respond-to(desktop) {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

.restaurants__title {
  align-self: flex-start;
  font-size: 1.411rem;
  font-weight: 700;
  line-height: 1.1;
  color: $black;
}

.restaurants__cards-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;

  @include respond-to(desktop) {
    height: 550px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }

  & a {
    width: 100%;

    @include respond-to(desktop) {
      width: 45.37%;
    }
  }
}

.restaurants__card {
  @include homepage-big-card;

  &--1::before,
  &--2::before {
    content: "Nouveau";
    position: absolute;
    top: 13px;
    right: 12px;
    height: 29px;
    width: 80px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.823rem;
    font-weight: 500;
    color: $green;
    background: $light-green;
  }
}

.restaurants__card-action {
  @include button-clickable-primary;
  bottom: 28px;
  right: 28px;
}
