/* Restaurants */
@use "../utils/variables" as *;

.restaurants {
  background: $bg-light-gray;
  padding-top: 54px;
  padding-left: 5.33%;
  padding-right: 5.33%;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 1.411rem;
    line-height: 1.1;
    color: $black-3;
    align-self: flex-start;
  }

  &__cards-container {
    // border: 1px dashed $black-2;
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    & a {
      width: 100%;
    }
  }

  &__card {
    position: relative;
    width: 100%;
    height: 251px;
    background: $white;
    box-shadow: $shadow-5;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    & img {
      width: 100%;
      height: 69.32%;
      // transform: scale(1.2);
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    &__description {
      height: 30.68%;
      padding-top: 16px;
      padding-left: 13px;
      display: flex;
      flex-direction: column;
      border-radius: 0 0 15px 15px;
    }

    &__title {
      font-weight: 700;
      font-size: 1.058rem;
      line-height: 1.25;
      color: $black-3;
    }

    &__location {
      font-weight: 300;
      font-size: 1rem;
      line-height: 1.25;
      color: $black-3;
      margin-top: 3px;
    }

    &__like {
      position: absolute;
      bottom: 32px;
      right: 25px;
      height: 22px;
      width: 23px;
      border: none;
      background: transparent;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;

      // & i {
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;
      //   height: 100%;
      //   width: 100%;
      // }

      & img {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 99%;
        width: 99%;
        object-fit: contain;
      }
    }

    &:hover {
      transform: scale(1.03);
      box-shadow: $shadow-2;
      transition: all 0.3s ease-in-out;
    }

    &--1::before {
      content: "Nouveau";
      position: absolute;
      top: 13px;
      right: 12px;
      height: 29px;
      width: 23.52%;
      background: $light-green;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.823rem;
      font-weight: 500;
      color: $green;
    }

    &--2::before {
      content: "Nouveau";
      position: absolute;
      top: 13px;
      right: 12px;
      height: 29px;
      width: 23.52%;
      background: $light-green;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 0.823rem;
      font-weight: 500;
      color: $green;
    }
  }
}
