// =========================
// Buttons
// =========================

@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../utils/keyframes" as *;

@mixin button-base {
  cursor: pointer;
  padding: 14px 21px;
  font-size: 0.941rem;
  font-weight: 400;
  line-height: 1.45;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
}

@mixin button-primary {
  @include button-base;
  color: $white;
  background: $gradient-primary;
  background-size: 200% 200%;
  @include box-shadow($shadow-hero-btn);

  &:hover {
    opacity: 0.8;
    transform: scale(1.05);
    @include box-shadow($shadow-hero-btn--hover);
    background-position: 100% 0;
  }
}

@mixin button-clickable-primary {
  cursor: pointer;
  position: absolute;
  height: 27px;
  width: 29px;
  display: flex;
  align-items: center;
  justify-content: center;

  & input {
    position: absolute;
    display: flex;
    opacity: 0;
    height: 0;
    width: 0;
  }

  & .heart-icon {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    // transition: all 0.8s ease;

    &--empty {
      opacity: 1;
    }

    &--filled {
      height: 100%;
      width: 100%;
      opacity: 0;
      position: relative;
      overflow: hidden;
      transition: all 0.8s ease;

      &::before {
        content: "\f004";
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0%;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: $gradient-primary;
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
        clip-path: inset(100% 0 0 0);
        transition: clip-path 0.35s ease-in-out;
        z-index: 1;
      }
    }
  }

  & input:checked ~ .heart-icon {
    &--empty {
      opacity: 0;
    }
    &--filled {
      opacity: 1;

      &::before {
        clip-path: inset(0 0 0 0);
      }
    }
  }
}
