/*==========================
Global
==========================*/

@use "../utils/variables" as *;

html,
body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  background: $bg-color;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: $white;
}

.responsive-hr {
  display: none;
}
