/*==========================
Reset
==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

menu,
ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/*==========================
Global
==========================*/
body {
  background: #d2d2d2;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #ffffff;
}

/*==========================
Typography
==========================*/
html {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  color: #101010;
}

/*==========================
Header
==========================*/
.header__top {
  position: relative;
  padding-top: 14px;
  padding-bottom: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.header__logo {
  padding: 0 18px;
  font-family: "Shrikhand", serif;
  font-size: 1.765rem;
  font-weight: 400;
  font-style: italic;
  line-height: 1.2;
}

.header__location {
  position: relative;
  width: 100%;
  padding: 15.5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 17px;
  background: #eaeaea;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.header__location button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__location button i {
  color: #353535;
}
.header__location input {
  border: none;
  background: none;
  width: 109px;
  padding: 2px 0;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__location input::placeholder {
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}
.header__location input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.header__location input:focus {
  outline: none;
}

/*==========================
Hero
==========================*/
.hero {
  padding-top: 39px;
  padding-bottom: 57px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}

.hero__title {
  width: 73.33%;
  text-align: center;
  font-size: 1.411rem;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}

.hero__description {
  width: 84%;
  margin-top: 17px;
  text-align: center;
  font-size: 1.058rem;
  font-weight: 300;
  line-height: 1.25;
  color: #353535;
}

.hero__btn {
  cursor: pointer;
  margin-top: 27px;
  padding: 14px 21px;
  font-size: 0.941rem;
  font-weight: 500;
  line-height: 1.45;
  color: #ffffff;
  background: linear-gradient(to bottom right, #ff79da, #9356dc);
  background-size: 200% 200%;
  border-radius: 25px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.hero__btn:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-position: 100% 0;
}

/*==========================
Functioning
==========================*/
.functioning {
  padding-top: 48px;
  padding-bottom: 68px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.functioning__title {
  align-self: flex-start;
  font-size: 1.411rem;
  margin-left: 5.33%;
  color: #000000;
}

.functioning__cards-container {
  margin-top: 26px;
  width: 89.33%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.functioning__card {
  position: relative;
  height: 72.38px;
  width: 96.26%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  background: #f6f6f6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  padding-left: 33.47px;
  gap: 27px;
}
.functioning__card i {
  color: #7e7e7e;
}
.functioning__card span {
  font-weight: 500;
  font-size: 0.941rem;
  font-family: "Roboto", sans-serif;
}
.functioning__card::before {
  position: absolute;
  left: -12px;
  content: "";
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-size: 0.823rem;
  font-weight: 500;
  color: #ffffff;
}
.functioning__card--1::before {
  content: "1";
}
.functioning__card--2::before {
  content: "2";
}
.functioning__card--3::before {
  content: "3";
}

/*==========================
Restaurants
==========================*/
.restaurants {
  padding-top: 54px;
  padding-left: 5.33%;
  padding-right: 5.33%;
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}

.restaurants__title {
  align-self: flex-start;
  font-size: 1.411rem;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}

.restaurants__cards-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.restaurants__cards-container a {
  width: 100%;
}

.restaurants__card {
  position: relative;
  height: 251px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.restaurants__card img {
  object-fit: cover;
  height: 69.32%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__card:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.restaurants__card--1::before, .restaurants__card--2::before {
  content: "Nouveau";
  position: absolute;
  top: 13px;
  right: 12px;
  height: 29px;
  width: 23.52%;
  font-size: 0.823rem;
  font-weight: 500;
  color: #008766;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #99e2d0;
  border-radius: 4px;
}

.restaurants__card-description {
  height: 30.68%;
  padding-top: 16px;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 15px 15px;
}

.restaurants__card-title {
  font-size: 1.058rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
}

.restaurants__card-location {
  margin-top: 3px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
}

.restaurants__card-like {
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  right: 25px;
  height: 22px;
  width: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background: transparent;
}
.restaurants__card-like i {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*==========================
Footer
==========================*/
.footer {
  padding-top: 25px;
  padding-left: 25px;
  padding-bottom: 22px;
  display: flex;
  flex-direction: column;
  background: #363636;
}

.footer__logo {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 1.058rem;
  font-weight: 400;
  color: #ffffff;
}

.footer__nav {
  margin-top: 20px;
  position: relative;
  left: 3px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.footer__nav-link {
  display: flex;
  gap: 11px;
}
.footer__nav-link i {
  width: 11px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__nav-link span {
  font-size: 0.941rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}
.footer__nav-link:hover {
  text-decoration: underline #ffffff;
}

/*# sourceMappingURL=style.css.map */
