/*==========================
Reset
==========================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

menu,
ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes card-appear {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes loader-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loader-jump {
  0% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
  40% {
    transform: translateY(-7px);
    animation-timing-function: ease-out;
  }
  55% {
    transform: translateY(-9px);
    animation-timing-function: ease-in;
  }
  70% {
    transform: translateY(-2px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}
/*==========================
Global
==========================*/
html,
body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: #d2d2d2;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background: #ffffff;
}

.responsive-hr {
  display: none;
}

/*==========================
Typography
==========================*/
html {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: 300;
  line-height: 1;
  color: #101010;
}

/*==========================
Loader
==========================*/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: loader-fade 3s forwards;
}

.loader-container i {
  position: absolute;
  padding-top: 12px;
  color: #9356dc;
  animation: loader-jump 1s ease-in-out infinite 0.4s;
}

.loader {
  width: 80px;
  height: 80px;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #9356dc;
  border-radius: 50%;
  animation: loader-spin 1s linear infinite;
}

/*==========================
Header
==========================*/
.header__top {
  position: relative;
  padding: 14px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 2;
}
@media (min-width: 1440px) {
  .header__top {
    padding: 25px 0;
  }
}

.header__logo {
  padding: 0 18px;
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 1.765rem;
  font-weight: 400;
  line-height: 1.2;
}
@media (min-width: 1440px) {
  .header__logo {
    font-size: 2rem;
  }
}

.header__location {
  position: relative;
  width: 100%;
  padding: 15.5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: #eaeaea;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.header__location button {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__location button i {
  color: #353535;
}
.header__location input {
  border: none;
  background: none;
  width: 109px;
  padding: 2px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.941rem;
  font-weight: 500;
  color: #353535;
}
.header__location input::placeholder {
  width: 100%;
  font-size: 0.941rem;
  font-weight: 500;
  color: #353535;
}
.header__location input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}
.header__location input:focus {
  outline: none;
}

.header__location__description {
  font-size: 16px;
  font-weight: 500;
  color: #353535;
}

/*==========================
Hero
==========================*/
.hero {
  padding: 39px 0 57px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}
@media (min-width: 1440px) {
  .hero {
    padding: 32px 0 30px 0;
  }
}

.hero__title {
  width: 73.33%;
  text-align: center;
  font-size: 1.411rem;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}
@media (min-width: 1440px) {
  .hero__title {
    font-size: 2.352rem;
  }
}

.hero__description {
  width: 84%;
  margin-top: 17px;
  text-align: center;
  font-size: 1.058rem;
  font-weight: 300;
  line-height: 1.25;
  color: #353535;
}
@media (min-width: 1440px) {
  .hero__description {
    margin-top: 33px;
  }
}

.hero__btn, .restaurant__btn {
  cursor: pointer;
  padding: 14px 23px;
  font-size: 0.941rem;
  font-weight: 400;
  line-height: 1.45;
  border-radius: 25px;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
  background: linear-gradient(175deg, #ef52d3, #7a5cff);
  background-size: 200% 200%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  margin-top: 27px;
}
.hero__btn:hover, .restaurant__btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  background-position: 100% 0;
}

/*==========================
Functioning
==========================*/
.functioning {
  padding: 48px 5.33% 68px 5.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1440px) {
  .functioning {
    padding: 50px 0 50px 12.5%;
    align-items: flex-start;
  }
}

.functioning__title {
  align-self: flex-start;
  font-size: 1.411rem;
  color: #000000;
}

.functioning__cards-container {
  margin-top: 26px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}
@media (min-width: 1440px) {
  .functioning__cards-container {
    position: relative;
    left: 7px;
    width: 88%;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.functioning__card {
  cursor: pointer;
  position: relative;
  height: 72.38px;
  width: 96.26%;
  padding-left: 33.47px;
  border: none;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: 27px;
  background: #f6f6f6;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
}
.functioning__card i {
  color: #7e7e7e;
}
.functioning__card span {
  font-family: "Roboto", sans-serif;
  font-size: 0.941rem;
  font-weight: 500;
}
.functioning__card::before {
  position: absolute;
  left: -12px;
  content: "";
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: "Roboto", sans-serif;
  font-size: 0.823rem;
  font-weight: 500;
  color: #ffffff;
  background: #9356dc;
}
.functioning__card i.icon-specific {
  color: #9356dc;
}
@media (min-width: 1440px) {
  .functioning__card {
    width: 30%;
    padding-left: 38px;
    gap: 18px;
  }
}
.functioning__card--1::before {
  content: "1";
}
.functioning__card--2::before {
  content: "2";
}
.functioning__card--3::before {
  content: "3";
}

/*==========================
Restaurants
==========================*/
.restaurants {
  padding: 54px 5.33% 66px 5.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
}
@media (min-width: 1440px) {
  .restaurants {
    padding: 30px 12.5% 30px 12.5%;
  }
}

.restaurants__title {
  align-self: flex-start;
  font-size: 1.411rem;
  font-weight: 700;
  line-height: 1.1;
  color: #000000;
}

.restaurants__cards-container {
  width: 100%;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
}
@media (min-width: 1440px) {
  .restaurants__cards-container {
    height: 550px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
}

.restaurants__card-wrapper {
  position: relative;
  width: 100%;
  border-radius: 15px;
  display: flex;
  transition: all 0.3s ease-in-out;
}
.restaurants__card-wrapper:hover {
  transform: scale(1.03);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
}
@media (min-width: 1440px) {
  .restaurants__card-wrapper {
    width: 45.37%;
  }
}
.restaurants__card-wrapper a {
  flex: 1;
  text-decoration: none;
  color: inherit;
}

.restaurants__card {
  position: relative;
  height: 251px;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #ffffff;
  background-size: 200% 200%;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}
.restaurants__card img {
  object-fit: cover;
  height: 69.32%;
  width: 100%;
  border-radius: 15px 15px 0 0;
}
.restaurants__card-description {
  height: 30.68%;
  padding-top: 16px;
  padding-left: 13px;
  display: flex;
  flex-direction: column;
  border-radius: 0 0 15px 15px;
}
.restaurants__card-title {
  font-size: 1.058rem;
  font-weight: 700;
  line-height: 1.25;
  color: #000000;
}
.restaurants__card-location {
  margin-top: 3px;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.25;
  color: #000000;
}
.restaurants__card--1::before, .restaurants__card--2::before {
  content: "Nouveau";
  position: absolute;
  top: 13px;
  right: 12px;
  height: 29px;
  width: 80px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.823rem;
  font-weight: 500;
  color: #008766;
  background: #99e2d0;
}

.restaurants__card-action, .restaurant__title .restaurant__like {
  cursor: pointer;
  position: absolute;
  height: 27px;
  width: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants__card-action input, .restaurant__title .restaurant__like input {
  position: absolute;
  display: flex;
  opacity: 0;
  height: 0;
  width: 0;
}
.restaurants__card-action .heart-icon, .restaurant__title .restaurant__like .heart-icon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurants__card-action .heart-icon--empty, .restaurant__title .restaurant__like .heart-icon--empty {
  opacity: 1;
}
.restaurants__card-action .heart-icon--filled, .restaurant__title .restaurant__like .heart-icon--filled {
  height: 100%;
  width: 100%;
  opacity: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.8s ease;
}
.restaurants__card-action .heart-icon--filled::before, .restaurant__title .restaurant__like .heart-icon--filled::before {
  content: "\f004";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0%;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(175deg, #ef52d3, #7a5cff);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  clip-path: inset(100% 0 0 0);
  transition: clip-path 0.35s ease-in-out;
  z-index: 1;
}
.restaurants__card-action input:checked ~ .heart-icon--empty, .restaurant__title .restaurant__like input:checked ~ .heart-icon--empty {
  opacity: 0;
}
.restaurants__card-action input:checked ~ .heart-icon--filled, .restaurant__title .restaurant__like input:checked ~ .heart-icon--filled {
  opacity: 1;
}
.restaurants__card-action input:checked ~ .heart-icon--filled::before, .restaurant__title .restaurant__like input:checked ~ .heart-icon--filled::before {
  clip-path: inset(0 0 0 0);
}
.restaurants__card-action, .restaurant__title .restaurant__like {
  position: absolute;
  bottom: 30px;
  right: 25px;
  z-index: 1;
}

/*==========================
Footer
==========================*/
.footer {
  padding: 25px 0 22px 25px;
  display: flex;
  flex-direction: column;
  background: #363636;
}
@media (min-width: 1440px) {
  .footer {
    padding: 40px 85px 32px 0;
    flex-direction: row-reverse;
    align-items: flex-end;
    gap: 80px;
  }
}

.footer__logo {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 1.058rem;
  font-weight: 400;
  color: #ffffff;
}

.footer__nav {
  position: relative;
  left: 3px;
  margin-top: 20px;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1440px) {
  .footer__nav-list {
    flex-direction: row;
    align-items: flex-end;
    gap: 18px;
  }
}

.footer__nav-link {
  position: relative;
  display: inline-flex;
  gap: 11px;
}
@media (min-width: 1440px) {
  .footer__nav-link {
    gap: 13px;
  }
}
.footer__nav-link i {
  width: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}
.footer__nav-link span {
  font-size: 0.941rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff;
}
@media (min-width: 1440px) {
  .footer__nav-link span {
    position: relative;
    top: 2px;
  }
}
.footer__nav-link::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 2px;
  width: 0;
  background: #ffffff;
  transition: all 0.4s ease;
}
.footer__nav-link:hover::after {
  width: 100%;
}

@media (min-width: 1440px) {
  .responsive-br {
    display: block;
    height: 0;
    width: 0;
    border: none;
    background: transparent;
  }
}

/*==========================
La palette du gout - Page
==========================*/
/*==========================
Header
==========================*/
.header__back-link {
  position: absolute;
  top: 50%;
  left: 23px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #353535;
  transform: translateY(-50%);
}

/*==========================
Page background
==========================*/
.page-background {
  position: relative;
  height: 275px;
  width: 100%;
  background: center/cover;
  z-index: 1;
}
@media (min-width: 1440px) {
  .page-background {
    height: 383px;
  }
}
.page-background--1 {
  background-image: url("../../assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}
.page-background--2 {
  background-image: url("../../assets/img/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}
.page-background--3 {
  background-image: url("../../assets/img/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}
.page-background--4 {
  background-image: url("../../assets/img/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/*==========================
Restaurant menu
==========================*/
.restaurant {
  position: relative;
  top: -55px;
  width: 100%;
  margin-bottom: -55px;
  padding: 32px 0 40px 0;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #f6f6f6;
  z-index: 2;
}
@media (min-width: 1440px) {
  .restaurant {
    width: 73.26%;
    margin: 0 auto;
    padding: 51px 210px 40px 210px;
  }
}

.restaurant__title {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1440px) {
  .restaurant__title {
    width: 310px;
  }
}
.restaurant__title h1 {
  font-family: "Shrikhand", serif;
  font-style: italic;
  font-size: 1.647rem;
  font-weight: 400;
}
.restaurant__title .restaurant__like {
  position: relative;
  top: 0;
  right: 3%;
}
@media (min-width: 1440px) {
  .restaurant__title .restaurant__like {
    left: 0;
  }
}

.restaurant__container {
  width: 92%;
}

.restaurant__container-title {
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 0.941rem;
  font-weight: 300;
  color: #000000;
}
.restaurant__container-title::after {
  content: "";
  position: absolute;
  bottom: -8px;
  display: block;
  height: 3px;
  width: 40px;
  background: #99e2d0;
}

.restaurant__cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.restaurant__card {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 14px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background: #ffffff;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  animation: card-appear 0.8s ease forwards;
  opacity: 0;
  transform: translateX(-100%);
}
.restaurant__card:nth-child(1) {
  animation-delay: 0.1s;
}
.restaurant__card:nth-child(2) {
  animation-delay: 0.2s;
}
.restaurant__card:nth-child(3) {
  animation-delay: 0.3s;
}
.restaurant__card:nth-child(4) {
  animation-delay: 0.4s;
}
.restaurant__card:nth-child(5) {
  animation-delay: 0.5s;
}
.restaurant__card:nth-child(6) {
  animation-delay: 0.6s;
}
.restaurant__card:nth-child(7) {
  animation-delay: 0.7s;
}
.restaurant__card:nth-child(8) {
  animation-delay: 0.8s;
}
.restaurant__card:nth-child(9) {
  animation-delay: 0.9s;
}
.restaurant__card:nth-child(10) {
  animation-delay: 1s;
}
.restaurant__card input[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.restaurant__card input[type=checkbox]:checked ~ .restaurant__card-content {
  width: 65%;
}
.restaurant__card input[type=checkbox]:checked ~ .restaurant__card-price {
  transform: translateX(-60px);
}
.restaurant__card input[type=checkbox]:checked ~ .restaurant__card-check {
  right: 0;
}
.restaurant__card input[type=checkbox]:checked ~ .restaurant__card-check i {
  transform: rotate(360deg);
}

.restaurant__card-content {
  width: 89%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: width 0.3s ease;
}
.restaurant__card-content h3 {
  font-size: 1.058rem;
  font-weight: 500;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.restaurant__card-content span {
  font-size: 0.882rem;
  font-weight: 300;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.restaurant__card-price {
  position: relative;
  align-self: end;
  bottom: 1px;
  height: 18px;
  transition: transform 0.3s ease;
}
.restaurant__card-price span {
  font-size: 0.882rem;
  font-weight: 700;
  color: #353535;
}

.restaurant__card-check {
  position: absolute;
  top: 0;
  right: -60px;
  height: 100%;
  width: 60px;
  background-color: #99e2d0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease;
}
.restaurant__card-check i {
  color: white;
  font-size: 1.2rem;
  transform: rotate(0);
  transition: transform 0.5s ease;
}

.restaurant__card-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.restaurant__btn {
  margin: 0;
  padding: 14px 48px;
}

.footer-restaurant {
  position: relative;
}
@media (min-width: 1440px) {
  .footer-restaurant {
    margin-top: -55px;
    z-index: 2;
  }
}

/*# sourceMappingURL=style.css.map */
