/*==========================
La palette du gout - Page
==========================*/

@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/button" as *;
@use "../utils/keyframes" as *;

/*==========================
Header
==========================*/

.header__action {
  position: absolute;
  left: 23px;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  @include flex-center;
  color: $black-light;
}

/*==========================
Page background
==========================*/

.page-background {
  position: relative;
  height: 275px;
  width: 100%;
  background: center / cover
    url("../../assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  z-index: 1;
}

/*==========================
Restaurant menu
==========================*/

.restaurant-menu {
  position: relative;
  top: -55px;
  width: 100%;
  margin-bottom: -55px;
  padding-top: 32px;
  padding-bottom: 40px;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: $bg-light-gray;
  z-index: 2;

  @include respond-to("desktop") {
    width: 73.26%;
    margin: 0 auto;
    padding: 0 210px;
    padding-top: 51px;
    padding-bottom: 40px;
  }
}

.restaurant-menu__title {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-to("desktop") {
    width: 310px;
  }

  & h1 {
    font-family: $font-stack-secondary;
    font-style: italic;
    font-size: 1.647rem;
    font-weight: 400;
  }
}

.restaurant-menu__title .restaurants__card-action {
  position: relative;
  top: 0;
  right: 3%;

  @include respond-to("desktop") {
    left: 0;
  }
}

.restaurant-menu__food-menu {
  width: 92%;
}

.food-menu__title {
  position: relative;
  margin-bottom: 22px;
  font-size: 0.941rem;
  font-weight: 300;
  text-transform: uppercase;
  color: $black;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    display: block;
    height: 3px;
    width: 40px;
    background: $light-green;
  }
}

.food-menu__cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.food-menu__card {
  cursor: pointer;
  width: 100%;
  padding: 14px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background: $white;
  @include box-shadow($shadow-restaurants-card);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;

  animation: card-appear 0.8s ease forwards;
  opacity: 0;
  transform: translateX(-100%);

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }
}

.food-menu__card input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.food-menu__card-content {
  width: 89%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: width 0.3s ease;

  & h3 {
    font-size: 1.058rem;
    font-weight: 500;
    color: $black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & span {
    font-size: 0.882rem;
    font-weight: 300;
    color: $black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.food-menu__card-price {
  align-self: end;
  position: relative;
  bottom: 1px;
  height: 18px;
  transition: transform 0.3s ease;

  & span {
    font-size: 0.882rem;
    font-weight: 700;
    color: $black-light;
  }
}

.food-menu__card-check {
  position: absolute;
  right: -60px;
  top: 0;
  height: 100%;
  width: 60px;
  background-color: $light-green;
  @include flex-center;
  transition: right 0.3s ease;

  & i {
    color: white;
    font-size: 1.2rem;
    transform: rotate(0);
    transition: transform 0.5s ease;
  }
}

.food-menu__card input[type="checkbox"]:checked ~ .food-menu__card-content {
  width: 65%;
}

.food-menu__card input[type="checkbox"]:checked ~ .food-menu__card-price {
  transform: translateX(-60px);
}

.food-menu__card input[type="checkbox"]:checked ~ .food-menu__card-check {
  right: 0;
}

.food-menu__card input[type="checkbox"]:checked ~ .food-menu__card-check i {
  transform: rotate(360deg);
}

.food-menu__card-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.restaurant-menu .hero__btn {
  margin: 0;
  padding: 14px 48px;
}

.footer-restaurant {
  position: relative;

  @include respond-to("desktop") {
    margin-top: -55px;
    z-index: 2;
  }
}
