/*==========================
La palette du gout - Page
==========================*/

@use "../utils/variables" as *;
@use "../utils/mixins" as *;
@use "../components/button" as *;
@use "../utils/keyframes" as *;

@use "../layout/restaurants" as *;
@use "../layout/hero" as *;

/*==========================
Header
==========================*/

.header__back-link {
  position: absolute;
  top: 50%;
  left: 23px;
  height: 30px;
  width: 30px;
  @include flex-center;
  color: $black-light;
  transform: translateY(-50%);
}

/*==========================
Page background
==========================*/

.page-background {
  position: relative;
  height: 275px;
  width: 100%;
  background: center / cover
    url("../../assets/img/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  z-index: 1;
}

/*==========================
Restaurant menu
==========================*/

.restaurant {
  position: relative;
  top: -55px;
  width: 100%;
  margin-bottom: -55px;
  padding: 32px 0 40px 0;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: $bg-light-gray;
  z-index: 2;

  @include respond-to("desktop") {
    width: 73.26%;
    margin: 0 auto;
    padding: 51px 210px 40px 210px;
  }
}

.restaurant__title {
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include respond-to("desktop") {
    width: 310px;
  }

  & h1 {
    font-family: $font-stack-secondary;
    font-style: italic;
    font-size: 1.647rem;
    font-weight: 400;
  }

  & .restaurant__like {
    @extend .restaurants__card-action;
    position: relative;
    top: 0;
    right: 3%;

    @include respond-to("desktop") {
      left: 0;
    }
  }
}

.restaurant__container {
  width: 92%;
}

.restaurant__container-title {
  position: relative;
  margin-bottom: 22px;
  text-transform: uppercase;
  font-size: 0.941rem;
  font-weight: 300;
  color: $black;

  &::after {
    content: "";
    position: absolute;
    bottom: -8px;
    display: block;
    height: 3px;
    width: 40px;
    background: $light-green;
  }
}

.restaurant__cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.restaurant__card {
  cursor: pointer;
  position: relative;
  width: 100%;
  padding: 14px 15px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  background: $white;
  @include box-shadow($shadow-restaurants-card);
  overflow: hidden;
  transition: all 0.3s ease;

  animation: card-appear 0.8s ease forwards;
  opacity: 0;
  transform: translateX(-100%);

  @for $i from 1 through 10 {
    &:nth-child(#{$i}) {
      animation-delay: #{$i * 0.1}s;
    }
  }

  & input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }

  & input[type="checkbox"]:checked ~ .restaurant__card-content {
    width: 65%;
  }

  & input[type="checkbox"]:checked ~ .restaurant__card-price {
    transform: translateX(-60px);
  }

  & input[type="checkbox"]:checked ~ .restaurant__card-check {
    right: 0;
  }

  & input[type="checkbox"]:checked ~ .restaurant__card-check i {
    transform: rotate(360deg);
  }
}

.restaurant__card-content {
  width: 89%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  transition: width 0.3s ease;

  & h3 {
    font-size: 1.058rem;
    font-weight: 500;
    color: $black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & span {
    font-size: 0.882rem;
    font-weight: 300;
    color: $black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.restaurant__card-price {
  position: relative;
  align-self: end;
  bottom: 1px;
  height: 18px;
  transition: transform 0.3s ease;

  & span {
    font-size: 0.882rem;
    font-weight: 700;
    color: $black-light;
  }
}

.restaurant__card-check {
  position: absolute;
  top: 0;
  right: -60px;
  height: 100%;
  width: 60px;
  background-color: $light-green;
  @include flex-center;
  transition: right 0.3s ease;

  & i {
    color: white;
    font-size: 1.2rem;
    transform: rotate(0);
    transition: transform 0.5s ease;
  }
}

.restaurant__card-label {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.restaurant__btn {
  @extend .hero__btn;
  margin: 0;
  padding: 14px 48px;
}

.footer-restaurant {
  position: relative;

  @include respond-to("desktop") {
    margin-top: -55px;
    z-index: 2;
  }
}
