// Font Stack
$font-stack-primary: "Roboto", sans-serif;
$font-stack-secondary: "Shrikhand", serif;

// Colors
$black: #000000;
$black-dark: #101010;
$black-light: #353535;
$black-light-2: #363636;
$white: #ffffff;
$purple: #9356dc;
$green: #008766;
$light-green: #99e2d0;

$bg-color: #d2d2d2;
$bg-gray: #eaeaea;
$bg-light-gray: #f6f6f6;

// Shadow
$shadow-logo: (
  x: 0,
  y: 2px,
  blur: 4px,
  color: rgba(0, 0, 0, 0.15),
);

$shadow-location: (
  x: 0,
  y: 4px,
  blur: 4px,
  color: rgba(0, 0, 0, 0.25),
);

$shadow-hero-btn: (
  x: 0,
  y: 4px,
  blur: 10px,
  color: rgba(0, 0, 0, 0.25),
);

$shadow-functioning-card: (
  x: 0,
  y: 4px,
  blur: 15px,
  color: rgba(0, 0, 0, 0.15),
);

$shadow-restaurants-card: (
  x: 0,
  y: 4px,
  blur: 15px,
  color: rgba(0, 0, 0, 0.1),
);

$shadow-restaurants-card--hover: (
  x: 0,
  y: 4px,
  blur: 15px,
  color: rgba(0, 0, 0, 0.25),
);

$shadow-hero-btn--hover: (
  x: 0,
  y: 8px,
  blur: 16px,
  color: rgba(0, 0, 0, 0.25),
);

// Responsive
$breakpoints: (
  mobile: 375px,
  tablet: 768px,
  desktop: 1440px,
);
