// Font Stack
$font-stack-primary: "Roboto", sans-serif;
$font-stack-secondary: "Shrikhand", serif;

// Colors
$black: #101010;
$black-2: #353535;
$black-3: #000;
$white: #ffffff;
$purple: #9356dc;

$bg-color: #d2d2d2;
$bg-gray: #eaeaea;
$bg-light-gray: #f6f6f6;

// Shadows
$shadow-1: 0 2px 4px rgba(0, 0, 0, 0.15);
$shadow-2: 0 4px 4px rgba(0, 0, 0, 0.25);
$shadow-3: 0 4px 15px rgba(0, 0, 0, 0.35);
$shadow-4: 0 4px 15px rgba(0, 0, 0, 0.15);
